/* GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  color: rgb(18, 4, 80);
  font-size: 30px;
  padding: 20px;
}

.bgPrincipal {
  background-color: greenyellow;
}

body {
  margin: 0;
  background-color: rgb(195, 247, 118);
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  padding: 10px;
}

h4 {
  text-align: center;
}

.logo {
  height: 100px;
}

iframe {
  border-radius: 20px;
  margin: 20px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

/* INPUT */
input:focus {
  height: 100px;
  font-size: 30px;
  background-color: lightgrey;
  color: white;
}

/* VARIABLES */
:root {
  --bg-principal:aqua;
  --f-s-p-desktop:30px;
}

header {
  background-color: var(--bg-principal);
}

.mensaje {
  border-radius: 20px;
}

.imgr {
  width: 80%;
}

h1 {
  font-family: "Shadows Into Light", cursive;
}

/* MOBILE */
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: contents;
    padding: 0;
  }
  a {
    color: black;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }
  nav {
    display: block;
    flex-direction: column;
  }
  li {
    padding: 1px;
  }
  .gridMainProyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  h3 {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .img-fluid {
    width: 85%;
    border-radius: 20px;
  } /* para evitar el overflow */
  img {
    border-radius: 20px;
    margin: 15px;
  }
  .colorform {
    background-color: lightyellow;
    font-size: 12px;
    width: 50%;
    margin-left: 150px;
    border-radius: 20px;
    margin: 20px;
  }
  .elemento {
    width: 95%;
    height: 20px;
    border-radius: 20px;
  }
  .imgr {
    margin: 30px;
  }
  .portada {
    margin: 20px;
  }
  .foto {
    width: 90%;
    border-radius: 20px;
  }
  .centrado {
    margin: 30px;
  }
  a {
    text-decoration: none;
    color: blue;
    transition: 1s all;
  }
  a:hover {
    color: chartreuse;
    background-color: blue;
    padding: 10px;
    border-radius: 30px;
  }
  .p20 {
    padding: 30px;
  }
  body {
    margin: 0;
  }
}
/* DESKTOP */
@media (min-width: 1024px) {
  /* GRID INDEX */
  /* primero grillas,flexbox y box modeling */
  .grid {
    display: grid; /*propiedad que nos habilita el uso de grillas*/
  }
  .grid {
    /* 1 columna y 3 filas */
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  /* cada etiqueta a que parte representa */
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  /* un grid dentro de otro grid */
  .gridMainIndex {
    display: grid;
    grid-template-areas: "imgPrincipal imgPrincipal" "titulo titulo" "pIzq imgP"; /* una fila con dos columnas */
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
  /* cada clase a que parte representa */
  .imgPrincipal {
    grid-area: imgPrincipal;
  }
  .titulo {
    grid-area: titulo;
  }
  .parrafoIzq {
    grid-area: pIzq;
  }
  .imgTexto {
    grid-area: imgP;
  }
  /* un grid dentro de otro grid proyecto */
  .gridMainProyectos {
    display: grid;
    grid-template-areas: "tituloProdu tituloProdu tituloProdu" "prodA prodB prodC"; /* una fila con tres columnas */
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
  }
  .tituloProdu {
    grid-area: tituloProdu;
  }
  .prodA {
    grid-area: prodA;
  }
  .prodB {
    grid-area: prodB;
  }
  .prodC {
    grid-area: prodC;
  }
  /* FLEX*/
  header, ul, footer {
    display: flex;
    justify-content: space-between;
  } /* se acomodo con fexbox el header y footer */
  .producto {
    justify-content: space-between;
  }
  .align-items-center {
    align-items: center;
  }
  /* BOX MODEL*/
  li {
    padding: 20px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .img-fluid {
    width: 93%;
    height: 400px;
  } /* para evitar el overflow */
  .prod img {
    border-bottom: 2px solid cyan;
  }
  img {
    border-radius: 20px;
    margin-left: 40px;
  }
  .colorform {
    background-color: lightyellow;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
  }
  .centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 21.28px;
    width: auto;
    border-radius: 20px;
  }
  .elemento {
    width: 95%;
    height: 30px;
    border-radius: 20px;
  }
  /* LA PSEUDOCLASES */
  a {
    text-decoration: none;
    color: blue;
    transition: 1s all;
  }
  a:hover {
    color: chartreuse;
    font-size: 30px;
    background-color: blue;
    padding: 10px;
    border-radius: 30px;
  }
  .centrado {
    margin: 80px;
  }
  .precio {
    margin-bottom: 0;
  }
  .carrito {
    margin-right: 40px;
  }
  .p20 {
    padding: 40px;
  }
}
header {
  background-image: linear-gradient(to bottom, rgba(97, 95, 160, 0.6588235294), transparent);
}

footer {
  background-image: linear-gradient(to top, rgba(97, 95, 160, 0.6588235294), transparent);
}

p {
  font-size: 25px;
  transition: all 1s;
}
p:hover {
  padding: 20px;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
