/* MOBILE */
@media (max-width:768px){
    header,main,footer{display:flex;flex-direction:column;align-items: center;}
    ul{display:block;padding:0;}
    a{color:black;flex-direction:column;align-items: center;font-size: 20px;}
    nav{display:block;flex-direction: column;}
    li{padding: 1px;}

    
    .gridMainProyectos{
        display:flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    h3{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    .img-fluid{width: 90%;border-radius:20px;}/* para evitar el overflow */
    img{border-radius: 20px;margin: 15px;}
    .colorform{
        background-color:lightyellow;
        font-size:12px;
        width: 50%;
        margin-left: 150px;
        border-radius:20px;
        margin:20px;
    }
    .elemento{
       width: 95%;
       height: 20px;
       border-radius: 20px;
    }
    img{
        margin:15px;
    }
    .foto{
        width: 90%;
        border-radius: 20px;
    }
    .centrado{
        margin: 90px;
    }
    
    
    
}
